@model PO_Projekt.Models.ProduktModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProduktModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenaBazowa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenaBazowa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opodatkowanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opodatkowanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RabatStalegoKlienta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RabatStalegoKlienta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miara.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscNaStanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscNaStanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
