

@{
    ViewData["Title"] = "Create";
}

<h1>Wystawienie Opinii</h1>

<h4>@ViewBag.produktNazwa</h4>
<p class="text-danger">@ViewBag.ErrorMessage</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WystawienieOpinii">
            <div class="form-group">
                <label>Ocena:</label>
                <label><input name="punktacja" type="radio" value="1">1</label>
                <label><input name="punktacja" type="radio" value="2">2</label>
                <label><input name="punktacja" type="radio" value="3">3</label>
                <label><input name="punktacja" type="radio" value="4">4</label>
                <label><input name="punktacja" type="radio" value="5">5</label>
            </div>
            <div class="form-group">
                <label>Twoja opinia:</label><br>
                <textarea name="opis" cols="70" rows="8" placeholder="Napisz swoją recenzję...">@ViewBag.opinia</textarea>
            </div>

            <input type="hidden" name="id" value="@ViewBag.produktId" />
            <div class="form-group">
                <input type="submit" value="Wystaw Opinię" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DaneProduktu" asp-route-id="@ViewBag.produktId">Anuluj</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}